apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sample-app
  namespace: argocd
spec:
  destination:
    namespace: myargocd
    server: https://kubernetes.default.svc
  project: my-argocd-project
  source:
    path: /
    repoURL: https://github.com/kamalpunn/argocd-test.git
    targetRevision: HEAD
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
